*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text{
  margin: 25px 0;
  font-size: 26px;

}

.btn-modal{
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  color: #fff;
  transition: all 1s ease;
  border: none;
}

.modal-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0px ,-500px, 0px);
  width: 500px;
  height: 400px;
  border: 2px solid #000;
  background: rgb(202, 87, 87);
  border-radius: 20px;
  color: #fff;
  transition: all 1s ease;
  display: block;
  opacity: 0;
}

.tt{
  margin: 25px;
  font-size: 22px;
}

.inp{
  width: 150px;
  height: 50px;

}

.m-btn{
  margin-left: 100px;
  padding: 10px 20px;
  background: rgb(97, 55, 55);
  color: #fff;
  border: none;
}

.show{
  transform: translate(-50%, 0%) translate3d(0px ,-150px, 0px);
  transition: all 1s ease;
  opacity: 1;
}